input {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.219);
  border-style: none;
  border-radius: 20px;
  outline: none;
  font-size: 18px;
  padding: 0px 10px;
  width: 180px;
}

input:focus {
  outline: none;
  color: white;
  font-weight: 900;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.603);
}

.label {
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.856));
}

.inputBox {
  position: relative;
  top: 6px;
}

.labelText {
  text-shadow: 0 0 5px black,0 0 5px black,0 0 5px black;
  color: white;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  top: 3px;
  position: relative;
}
