.panoramico{
  width: 100vw;
  -webkit-filter: drop-shadow(-10px 0 70px #ffffff) drop-shadow(-10px 0 70px #ffffff) drop-shadow(-10px 0 70px #ffffff);
  filter: drop-shadow(-10px 0 70px #ffffff) drop-shadow(-10px 0 70px #ffffff) drop-shadow(-10px 0 70px #ffffff);
}
