.Tittle{
    font-size: calc(5vw + 10px);
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px black,5px 5px 10px black;
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 5px;
}